.main-button {
  background-color: black;
  color: white;
  padding: 10px 32px;
  textAlign: center;
  text-decoration: none;
  font-size: 20px;
  cursor: pointe;
  border-radius: 12px;
  border: white 1px solid;

}